<section id="blogs">
    <div class="blogs-container">
        <!-- Blog Card 1 -->
        <div class="blog-card" *ngFor="let blog of blogs">
            <img [src]="blog.featuredImageUrl" alt="{{ blog.title }}" class="blog-image" />
            <div class="blog-content">
                <span class="blog-label">Category</span>
                <h3 class="blog-title">{{ blog.title }}</h3>
                <p class="blog-preview">{{blog.metaDescription}}</p>
                <a class="blog-read-more" [routerLink]="['/blog-details']" [queryParams]="{ id: blog.id }" target="_blank">Read More</a>
            </div>
        </div>
    </div>
</section>
