<div class="container">
  <h1>{{ blog.title }}</h1>
  <img [src]="blog.featuredImageUrl" alt="{{ blog.title }}" class="featured-image">
  <div [innerHTML]="blog.content" class="blog-content"></div>
  <div class="video-container" *ngIf="blog.youtubeVideoLink">
    <iframe 
      [src]="sanitizeUrl(blog.youtubeVideoLink)" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
    
  </div>
  <!-- Comment Section -->
  <div class="comment-section">
      <h3>Leave a Comment</h3>
      <form class="comment-form">
          <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" placeholder="Your name" required>
          </div>
          <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" placeholder="Your email" required>
          </div>
          <div class="form-group">
              <label for="comment">Comment:</label>
              <textarea id="comment" name="comment" placeholder="Write your comment here" required></textarea>
          </div>
          <button type="submit" class="submit-button">
              <i class="fa fa-paper-plane"></i> Submit
          </button>
      </form>
  </div>
</div>
