<section id="timeline">
    <h2>My Academic Career</h2>
    <div class="timeline">
        <div class="timeline-item" *ngFor="let timeline of timelines">
            <div class="timeline-icon"><i class="{{timeline.icon_Url}}"></i></div>
            <div class="timeline-content">
                <h3>{{timeline.label}}</h3>

                <span class="date">Started Date: {{timeline.start_Date}} - Completed Date: {{timeline.completed_Date}}</span>
                <p>{{timeline.description}}</p>
            </div>
        </div>
    </div>
</section>
