<section id="about">
    <div class="about-container">
        <div class="about-image">
            <img src="/images/ramesh.png" alt="Dinesh Prasad Joshi">
            <div class="social-media">
                <a href="https://www.facebook.com/TheDineshPd.Joshi/" target="_blank" class="social-icon facebook">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="https://www.instagram.com/thedineshpd.joshi/" target="_blank" class="social-icon instagram">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/thedineshjoshi/" target="_blank" class="social-icon linkedin">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/thedineshjoshi" target="_blank" class="social-icon github">
                    <i class="fab fa-github"></i>
                </a>
            </div>
        </div>
        <div class="about-content">
            <h2>Hi, I'm Dinesh.</h2>
            <h3>I am a Full Stack Developer</h3>
            <p>
                I am a passionate and dedicated full-stack developer with a knack for creating dynamic and responsive web applications. With a strong foundation in both front-end and back-end technologies, I love to craft seamless user experiences and build efficient, scalable solutions. My journey in the tech world has been driven by a constant desire to learn and innovate, and I thrive on solving complex problems and turning ideas into reality.
            </p>
        </div>
    </div>
</section>
