<header>
    <div class="logo">
        <img src="/images/dinesh.png" alt="Logo"/>
    
    <div class="name">
        <h1>Dinesh Prasad Joshi</h1>
    </div></div>
    <nav>
        <ul>
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="">Timeline</a></li>
            <li><a routerLink="">Blogs</a></li>
            <li><a routerLink="">Projects</a></li>
            <li><a routerLink="">Contact Me</a></li>
        </ul>
    </nav>
</header>
<app-about></app-about>
<app-timeline></app-timeline>
