<header>
    <div class="header-container">
        <div class="logo">
            <img src="/images/dinesh.png" alt="Logo" />
            <div class="name">
                <h1>Dinesh Prasad Joshi</h1>
            </div>
        </div>
        <div class="hamburger" id="hamburger">
            &#9776;
        </div>
        <nav id="nav">
            <ul class="nav-links" id="nav-links">
                <li><a routerLink="/home" fragment="home">Home</a></li>
                <li><a routerLink="/home" fragment="about">About</a></li>
                <li><a routerLink="/home" fragment="timeline">Timeline</a></li>
                <li><a routerLink="/home" fragment="blogs">Blogs</a></li>
                <li><a routerLink="/home" fragment="projects">Projects</a></li>
                <li><a routerLink="/home" fragment="contact">Contact Me</a></li>
              </ul>
        </nav>
    </div>
</header>

<section id="about">
    <app-about></app-about>
  </section>
  
  <section id="timeline">
    <app-timeline></app-timeline>
  </section>
  
  <section id="blogs">
    <app-blog></app-blog>
  </section>
  
  <section id="projects">
    <app-project></app-project>
  </section>
  
  <section id="contact">
    <app-contact></app-contact>
  </section>
  